<div class="ui vertical inverted sidebar menu left" id="api-sidebar">
	<div class="item">
		<a href="#" class="header">Recipes</a>
		<div class="menu">
			<a href="" class="item">Create Recipe</a>
			<a href="" class="item">List Your Recipes</a>
			<a href="" class="item">List User Recipes</a>
			<a href="" class="item">List All Public Recipes</a>
			<a href="" class="item">Get Recipe</a>
			<a href="" class="item">Edit Recipe</a>
			<a href="" class="item">Comment Recipe</a>
			<a href="" class="item">List Recipe Contributors</a>
			<a href="" class="item">Delete Recipe</a>
		</div>
	</div>
	<div class="item">
		<a href="#" class="header">Groceries</a>
		<div class="menu">
			<a href="" class="item">List Your Groceries</a>
			<a href="" class="item">List User Groceries</a>
			<a href="" class="item">List All Public Groceries</a>
			<a href="" class="item">Create Grocery</a>
			<a href="" class="item">Get Grocery</a>
			<a href="" class="item">Edit Grocery</a>
			<a href="" class="item">Delete Grocery</a>
		</div>
	</div>
	<div class="item">
		<a href="#" class="header">Grocery Store</a>
		<div class="menu">
			<a href="" class="item">Add Grocery</a>
			<a href="" class="item">List Groceries</a>
			<a href="" class="item">Get Grocery</a>
			<a href="" class="item">Edit Grocery</a>
			<a href="" class="item">Delete Grocery</a>
		</div>
	</div>
	<div class="item">
		<a href="#" class="header">Restaurants</a>
		<div class="menu">
			<a href="" class="item">List Your Restaurants</a>
			<a href="" class="item">List All Public Restaurants</a>
			<a href="" class="item">Create Restaurant</a>
			<a href="" class="item">Get Restaurant</a>
			<a href="" class="item">Edit Restaurant</a>
			<a href="" class="item">List Menu</a>
			<a href="" class="item">Delete Restaurant</a>
		</div>
	</div>
	<div class="item">
		<a href="#" class="header">Users</a>
		<div class="menu">
			<a href="" class="item">Get A Single User</a>
			<a href="" class="item">Get The Authenticated User</a>
			<a href="" class="item">Update The Authenticated User</a>
			<a href="" class="item">Get All Users</a>
		</div>
	</div>
	<div class="item">
		<a href="#" class="header">Billing</a>
		<div class="menu">
			<a href="" class="item">List My Orders</a>
			<a href="" class="item">List Store Orders</a>
			<a href="" class="item">Create Order</a>
			<a href="" class="item">Get Order</a>
			<a href="" class="item">Edit Order</a>
			<a href="" class="item">Delete Order</a>
		</div>
	</div>
</div>