<div class="ui vertical inverted sidebar menu left" id="api-sidebar">
	<div class="item">
		<a href="{{ site.baseurl }}/" class="header">Home</a>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/recipes" class="header">Recipes</a>
		<div class="menu">
			<a href="{{ site.baseurl }}/api/recipes#add-recipe" class="item">Add Recipe</a>
			<a href="{{ site.baseurl }}/api/recipes#list-my-recipes" class="item">List My Recipes</a>
			<a href="{{ site.baseurl }}/api/recipes#list-user-recipes" class="item">List User Recipes</a>
			<a href="{{ site.baseurl }}/api/recipes#list-recipes" class="item">List Recipes</a>
			<a href="{{ site.baseurl }}/api/recipes#search-recipes" class="item">Search Recipes</a>
			<a href="{{ site.baseurl }}/api/recipes#get-recipe" class="item">Get Recipe</a>
			<a href="{{ site.baseurl }}/api/recipes#favourite-recipe" class="item">Favourite Recipe</a>
			<a href="{{ site.baseurl }}/api/recipes#edit-recipe" class="item">Edit Recipe</a>
			<a href="{{ site.baseurl }}/api/recipes#comment-recipe" class="item">Comment Recipe</a>
			<a href="{{ site.baseurl }}/api/recipes#report-recipe-" class="item">Report Recipe </a>
			<a href="{{ site.baseurl }}/api/recipes#delete-recipe" class="item">Delete Recipe</a>
		</div>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/groceries" class="header">Groceries</a>
		<div class="menu">
			<a href="{{ site.baseurl }}/api/groceries#add-grocery" class="item">Add Grocery</a>
			<a href="{{ site.baseurl }}/api/groceries#list-groceries" class="item">List Groceries</a>
			<a href="{{ site.baseurl }}/api/groceries#search-groceries" class="item">Search Groceries</a>
			<a href="{{ site.baseurl }}/api/groceries#get-grocery" class="item">Get Grocery</a>
			<a href="{{ site.baseurl }}/api/groceries#edit-grocery" class="item">Edit Grocery</a>
			<a href="{{ site.baseurl }}/api/groceries#add-grocery-to-shopping-list" class="item">Add Grocery To Shopping List</a>
			<a href="{{ site.baseurl }}/api/groceries#report-grocery" class="item">Report Grocery</a>
			<a href="{{ site.baseurl }}/api/groceries#delete-grocery" class="item">Delete Grocery</a>
		</div>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/stores" class="header">Grocery Store</a>
		<div class="menu">
			<a href="{{ site.baseurl }}/api/stores#add-store" class="item">Add Store</a>
			<a href="{{ site.baseurl }}/api/stores#list-stores" class="item">List Stores</a>
			<a href="{{ site.baseurl }}/api/stores#search-stores" class="item">Search Stores</a>
			<a href="{{ site.baseurl }}/api/stores#get-store" class="item">Get Store</a>
			<a href="{{ site.baseurl }}/api/stores#edit-store" class="item">Edit Store</a>
			<a href="{{ site.baseurl }}/api/stores#order-grocery" class="item">Order Grocery</a>
			<a href="{{ site.baseurl }}/api/stores#comment-store" class="item">Comment Store</a>
			<a href="{{ site.baseurl }}/api/stores#report-store" class="item">Report Store</a>
			<a href="{{ site.baseurl }}/api/stores#delete-store" class="item">Delete Store</a>
		</div>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/restaurants" class="header">Restaurants</a>
		<div class="menu">
			<a href="{{ site.baseurl }}/api/restaurants#add-restaurant" class="item">Add Restaurant</a>
			<a href="{{ site.baseurl }}/api/restaurants#list-restaurants" class="item">List Restaurants</a>
			<a href="{{ site.baseurl }}/api/restaurants#search-restaurants" class="item">Search Restaurants</a>
			<a href="{{ site.baseurl }}/api/restaurants#get-restaurant" class="item">Get Restaurant</a>
			<a href="{{ site.baseurl }}/api/restaurants#edit-restaurant" class="item">Edit Restaurant</a>
			<a href="{{ site.baseurl }}/api/restaurants#order-recipe" class="item">Order Recipe</a>
			<a href="{{ site.baseurl }}/api/restaurants#comment-restaurant" class="item">Comment Restaurant</a>
			<a href="{{ site.baseurl }}/api/restaurants#report-restaurant" class="item">Report Restaurant</a>
			<a href="{{ site.baseurl }}/api/restaurants#delete-restaurant" class="item">Delete Restaurant</a>
		</div>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/users" class="header">Users</a>
		<div class="menu">
		<a href="{{ site.baseurl }}/api/users#add-user" class="item">Add User</a>
		<a href="{{ site.baseurl }}/api/users#list-users" class="item">List Users</a>
		<a href="{{ site.baseurl }}/api/users#search-users" class="item">Search Users</a>
		<a href="{{ site.baseurl }}/api/users#get-user" class="item">Get User</a>
		<a href="{{ site.baseurl }}/api/users#follow-a-user" class="item">Follow A User</a>
		<a href="{{ site.baseurl }}/api/users#unfollow-a-user" class="item">Unfollow A User</a>
		<a href="{{ site.baseurl }}/api/users#edit-user" class="item">Edit User</a>
		<a href="{{ site.baseurl }}/api/users#report-user" class="item">Report User </a>
		<a href="{{ site.baseurl }}/api/users#delete-user" class="item">Delete User</a>
		</div>
	</div>
	<div class="item">
		<a href="{{ site.baseurl }}/api/orders" class="header">Orders</a>
		<div class="menu">
			<a href="{{ site.baseurl }}/api/orders#list-my-orders" class="item">List My Orders</a>
			<a href="{{ site.baseurl }}/api/orders#list-store-orders" class="item">List Store Orders</a>
			<a href="{{ site.baseurl }}/api/orders#list-restaurant-orders" class="item">List Restaurant Orders</a>
			<a href="{{ site.baseurl }}/api/orders#get-order" class="item">Get Order</a>
			<a href="{{ site.baseurl }}/api/orders#edit-order" class="item">Edit Order</a>
			<a href="{{ site.baseurl }}/api/orders#delete-order" class="item">Delete Order</a>
		</div>
	</div>
</div>