<div class="ui sticky">
	<div class="ui styled fluid accordion">
		<div class="title">
			<i class="dropdown icon"></i>
			Docs
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a href="{{ site.baseurl }}/api-modules" class="item">API Modules</a>
				<a href="{{ site.baseurl }}/http-methods" class="item">HTTP Methods</a>
				<a href="{{ site.baseurl }}/status-codes" class="item">Status Codes</a>
			</div>
		</div>
	</div>
	<br>
	<div class="ui styled fluid accordion">
		<div class="title">
			<i class="dropdown icon"></i>
			Users
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a href="{{ site.baseurl }}/api/users#sign-in" class="item">Sign In</a>
				<a href="{{ site.baseurl }}/api/users#sign-out" class="item">Sign Out</a>
				<a href="{{ site.baseurl }}/api/users#add-user" class="item">Add User</a>
				<a href="{{ site.baseurl }}/api/users#search-users" class="item">Search Users</a>
				<a href="{{ site.baseurl }}/api/users#get-my-profile" class="item">Get My Profile</a>
				<a href="{{ site.baseurl }}/api/users#get-a-single-user" class="item">Get A Single User</a>
				<a href="{{ site.baseurl }}/api/users#get-my-shopping-list" class="item">Get My Shopping List</a>
				<a href="{{ site.baseurl }}/api/users#follow-user" class="item">Follow User</a>
				<a href="{{ site.baseurl }}/api/users#unfollow-user" class="item">Unfollow User</a>
				<a href="{{ site.baseurl }}/api/users#get-my-followers" class="item">Get My Followers</a>
				<a href="{{ site.baseurl }}/api/users#get-my-following" class="item">Get My Following</a>
				<a href="{{ site.baseurl }}/api/users#get-user-followers" class="item">Get User Followers</a>
				<a href="{{ site.baseurl }}/api/users#get-user-following" class="item">Get User Following</a>
				<a href="{{ site.baseurl }}/api/users#edit-user" class="item">Edit User</a>
				<a href="{{ site.baseurl }}/api/users#report-user" class="item">Report User</a>
				<a href="{{ site.baseurl }}/api/users#remove-user" class="item">Remove User</a>		
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Groceries
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/groceries#add-grocery">Add Grocery</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#search-groceries">Search Groceries</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#get-grocery">Get Grocery</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#edit-grocery">Edit Grocery</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#add-grocery-to-shopping-list">Add Grocery To Shopping List</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#remove-grocery-from-shopping-list">Remove Grocery From Shopping List</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#report-grocery">Report Grocery</a>
				<a class="item" href="{{ site.baseurl }}/api/groceries#remove-grocery">Remove Grocery</a>
			</div>
		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Recipes
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/recipes#add-recipe">Add Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#list-my-recipes">List My Recipes</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#list-user-recipes">List User Recipes</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#search-recipes">Search Recipes</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#get-recipe">Get Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#favorite-a-recipe">Favorite A Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#unfavorite-a-recipe">Unfavorite A Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#get-my-recipe">Get My Favorites</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#edit-recipe">Edit Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#comment-recipe">Comment Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#get-recipe-comments">Get Recipe Comments</a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#report-recipe-">Report Recipe </a>
				<a class="item" href="{{ site.baseurl }}/api/recipes#remove-recipe">Remove Recipe</a>

			</div>
		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Restaurants
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/restaurants#add-restaurant">Add Restaurant</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#search-restaurants">Search Restaurants</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#get-restaurant">Get Restaurant</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#edit-restaurant">Edit Restaurant</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#order-recipe">Order Recipe</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#comment-restaurant">Comment Restaurant</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#get-comments">Get Comments</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#report-restaurant">Report Restaurant</a>
				<a class="item" href="{{ site.baseurl }}/api/restaurants#remove-restaurant">Remove Restaurant</a>
			</div>
		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Stores
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/stores#add-store">Add Store</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#search-stores">Search Stores</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#get-store">Get Store</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#edit-store">Edit Store</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#order-grocery">Order Grocery</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#comment-store">Comment Store</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#report-store">Report Store</a>
				<a class="item" href="{{ site.baseurl }}/api/stores#remove-store">Remove Store</a>
			</div>
		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Orders
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/orders#list-my-orders">List My Orders</a>
				<a class="item" href="{{ site.baseurl }}/api/orders#list-store-orders">List Store Orders</a>
				<a class="item" href="{{ site.baseurl }}/api/orders#list-restaurant-orders">List Restaurant Orders</a>
				<a class="item" href="{{ site.baseurl }}/api/orders#get-order">Get Order</a>
				<a class="item" href="{{ site.baseurl }}/api/orders#edit-order">Edit Order</a>
				<a class="item" href="{{ site.baseurl }}/api/orders#remove-order">Remove Order</a>
			</div>
		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Badges
		</div>
		<div class="content">
			<div class="ui vertical fluid menu">
				<a class="item" href="{{ site.baseurl }}/api/badges#search-badges">Search Badges</a>
			</div>
		</div>
	</div>
</div>
