<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#333">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/reset.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/site.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/container.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/grid.min.css">
	
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/accordion.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/button.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/form.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/header.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/image.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/label.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/menu.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/message.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/segment.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/table.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/card.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/icon.min.css">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/github.css">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
</head>
