.ui.label .variable{
	color: #222;
}

article.api{
	margin-bottom: 20px;
}

pre{
	margin: 0px;
	border-radius: 4px;
}
header.page-head{
	margin-top: 20px;
}

#api{
	margin-top: 10px;
}

.ui.table .required{
	color: #f66;
}