---
layout: default
---
<div class="ui stackable grid container" id="api">
	<div class="four wide column">
		{% if page.cover %}
		<img src="{{site.baseurl}}/uploads/posts/api/{{ page.cover }}" alt="" class="ui fluid rounded image api-cover">
		{% endif %}
		{% include api-sidebar.html %}
	</div>
	<div class="twelve wide column">
		<header class="ui grey segment">
			<h1 class="header">{{ page.title }} - API Documentation</h1>
		</header>
		{{ content }}
	</div>
</div>

{% include footer.html %}
{% include scripts.html %}